body {
    background: white;
}

/* Main navbar for all pages*/
.button {
    background-color: blueviolet;
    border-radius: 10px;
}

/* Home page top navbar */
.icon {
    font-size: 25px;
}

.default-color {
   background-color: #2C3539;
}

.nav-item:not(.button) a:hover { 
    background: rgb(187, 187, 212);
}

​.hm-nav-right {
    margin-right: 40px;
}

.hm-nav-left {
    margin-left: 40px;
}

/* Home page employee image and self service */
.btn-block {
    width: 100%;
}

.text-center {
    text-align: center;
}

.img-fluid {
    width: 100%;
    height: 400px;
    float: left;
}

.right-column-home, .left-column-home {
    background-color: rgb(213, 222, 223);
    height: 400px;
}

.right-home-title {
    margin-top: 15px;
    font-size: 16px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-home-icon {
    font-size: 30px;
    color: orange;
    clear: both;
    padding-right: 30px;
}

.app-store {
    width: 150px;
    height: 40px;
}

/* Home page mobile download links */
.mobile-apps {
    margin-top: 30px;
}

/* Register page */
.card {
    width: 35%;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 430px;
}

.card-header {
    margin-top: 5px;
}

/* Login page */
.login-page {
    margin-top: 130px;
}

.login-card {
    font-size: 16px;
    height: 400px;
    margin-bottom: 60px;
}

.login-key {
    font-size: 18px;
    color: orange;
}

.input-prefix {
    font-size: 20px;
}

.login-label {
    font-size: 15px;
}

.inner-links {
    padding-top: 60px;
}

.card-login-bottom {
    font-size: 18px;
    padding-top: 20px;
}

/* Dashboard page */
.card-dashboard {
    width: 50rem;
    height: 800px;
    margin-top: 50px;
}

.employee-icon {
    font-size: 100px;
}

.table-item {
    margin-top: 50px;
}


/* Add_employee form */
.add-form {
    width: 40%;
}