body {
    background: #E5E4E2;
}
/* upper navbar */
.vertical {
    height: 20px;
    border-left: 1.5px solid white;
}

.sm-icon {
    font-size: 30px;
    color: black;
}

.btn-login {
    border-radius: 10%;
    height: 8px;
    width: 10px;
}

.btn-login-label {
    font-size: 15px;
    color: white;
    text-transform: capitalize;
    text-align: center;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/* lower navbar */
.hr-logo {
    border-radius: 20px;
}

/* home page right and left columns */
.btn-block {
    width: 100%;
}

.text-center {
    text-align: center;
}

.img-fluid {
    width: 100%;
    height: 400px;
    float: left;
}

.right-column-home, .left-column-home {
    background-color: rgb(213, 222, 223);
    height: 400px;
}

.right-home-title {
    margin-top: 15px;
    font-size: 16px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-home-icon {
    font-size: 30px;
    color: orange;
    clear: both;
    padding-right: 30px;
}

/* register page */
.card {
    width: 35%;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 420px;
}

.card-header {
    margin-top: 5px;
}

/* login page */
.login-page {
    margin-top: 130px;
}

.login-card {
    font-size: 16px;
    height: 250px;
    margin-bottom: 150px;
}

.login-key {
    font-size: 18px;
    color: orange;
}

.inner-links {
    padding-top: 80px;
}

.card-login-bottom {
    font-size: 18px;
    padding-top: 80px;
}

/* dashboard page */
.card-dashboard {
    width: 50rem;
    height: 800px;
    margin-top: 50px;
}

.employee-icon {
    font-size: 100px;
}

.table-item {
    margin-top: 50px;
}

/* file upload */
