{% extends "base.html" %}
{% block content %}

    <!-- page header -->
    <div class="h2-responsive text-center font-weight-bolder card-header"> 
        About HR Portal
    </div>

    <!-- main container -->
    <div class="container">

        <!-- card body-->
        <div class="card card-image mx-auto" 
            style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);
                width: 80%; margin-bottom: s0px;">

            <!-- card content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h5 class="pink-text"><i class="fas fa-chart-pie"></i>
                        HRP
                    </h5>
                    <h3 class="card-title pt-2">
                        <strong>Human Resource Portal</strong>
                    </h3>

                    <!-- first paragraph -->
                    <p class="text-justify">This Human Resource Portal (HRP) software combines a number of systems and
                        processes to ensure the easy management of human resources, business processes and data. It is
                        designed to be used by businesses to combine a number of necessary HR functions, such as storing
                        employee
                        data, managing payroll, recruitment, benefits administration, time and attendance, employee
                        performance
                        management, and tracking competency and training records.
                    </p>

                    
                    <!-- second paragraph -->
                    <p class="text-justify">
                        The HR Portal ensures everyday human resources processes are manageable and easy
                        to access. It merges human resources as a discipline and, in particular, its basic HR activities
                        and
                        processes with the information technology field. This HRP system has its origin from software
                        that integrates
                        information from different applications into one universal database. The linkage of its
                        financial and human
                        modules through one database is the most important distinction to the individually and
                        proprietarily developed
                        predecessors, which makes this software application both rigid and flexible.
                    </p>

                    
                    <!-- third paragraph -->
                    <p class="text-justify">
                        We developers have worked to provide a means of acquiring, storing, analyzing and distributing
                        information to various stakeholders. This Portal guarantees improvement in traditional processes
                        and enhance
                        strategic decision-making. The wave of technological advancement has revolutionized each and
                        every space of life
                        today, and this includes Human Resources management. Early systems were narrow in scope,
                        typically
                        focused on a single task, such as improving the payroll process or tracking employees' work
                        hours.
                        Today's systems cover the full spectrum of tasks associated with human resources departments,
                        including
                        tracking and improving process efficiency, managing organizational hierarchy, tracking absence
                        and
                        annual leave, simplifying financial transactions, and providing reports on people data.
                    </p>

                    
                    <!-- fourth paragraph -->
                    <p class="text-justify">
                        This HRP is an open source project and is therefore free for use. It is avaialable as both web &
                        desktop versions with
                        mobile apps downloadable through the links on the Home page. Feel free to contact us in order to
                        request a demo or a copy
                        of the Application for your organization. The developers hope to improve and expand the software
                        in future and hope you
                        will find it valuable to your organization.
                    </p>

                    
                    <!-- button -->
                    <a href="{{ url_for('support') }}" class="btn btn-pink"><i class="fas fa-clone left"></i>
                        Contact Us
                    </a>
                </div>
            </div>

        </div>
        <!-- Card ends here -->
    </div>
    <!-- main container ends here -->
    
{% endblock %}
