{% extends "base.html" %}
{% block content %}

<!-- Material form contact -->
    <div class="h2-responsive text-center font-weight-bolder card-header"> 
        New Employee
    </div>
    <section class="container">
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <h5 class="red-text mx-auto message flash-text">{{ message }}</h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <div class="row">
        <div class="col-12">
            <form class="text-center border border-light p-5 mx-auto add-form" method="POST" action="{{ url_for('add_employee') }}">
                <select class="browser-default custom-select mb-4" name="department" id="department" required>
                    <option value="Department" selected>Department</option>
                    <option value="Administration">Administration</option>
                    <option value="Finance">Finance</option>
                    <option value="Technology">Technology</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Sales & Advertising">Sales & Advertising</option>
                    <option value="Supply Chain">Supply Chain</option>
                </select>
            
                <input type="text" name="first_name" id="first_name" class="form-control mb-4 validate" placeholder="First Name" required>
                <input type="text" name="last_name" id="last_name" class="form-control mb-4 validate" placeholder="Last Name" required>
                <input type="email" name="email" id="email" class="form-control mb-4 validate" placeholder="E-mail" required>
                <input type="text" name="mobile" id="mobile" class="form-control mb-4 validate" placeholder="Mobile" required>
                <input type="text" name="address" id="address" class="form-control mb-4 validate" placeholder="Home Address" required>
        
                <select class="browser-default custom-select mb-4 validate" name="gender" id="gender" required>
                    <option value="Gender" selected>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

                <div class="md-form md-outline input-with-post-icon datepicker">
                    <input placeholder="Select date" type="date" name="employment_date" id="employment_date" class="form-control validate" required>
                    <div class="invalid-feedback">Please select a valid date.</div>
                    <label for="example">Employment Date</label>
                </div>
                   
                <div class="form-group">
                    <textarea class="form-control rounded-0 validate" name="duties" id="duties" rows="3" placeholder="Duties" required></textarea>
                </div>
            
                <button type="submit" class="btn btn-block white-text text-center login-label text-capitalize" style="background-color: gray;">
                     Add Employee <i class="far fa-plus-square"></i>
                </button>
            </form>
        </div>
    </div>

{% endblock %}