{% extends "base.html" %}
{% block content %}

<!-- Material form contact -->
    <div class="h2-responsive text-center font-weight-bolder card-header"> 
        New Employee
    </div>

        <div class="row">
            <div class="col-12">
                <form class="text-center border border-light p-5 mx-auto add-form" action="#!">
                    <select class="browser-default custom-select mb-4">
                        <option value="" disabled>Choose option</option>
                        <option value="1" selected>Department</option>
                        <option value="2">Administration</option>
                        <option value="3">Finance</option>
                        <option value="4">Technology</option>
                        <option value="5">Marketing</option>
                        <option value="6">Sales & Advertising</option>
                        <option value="7">Supply Chain</option>
                    </select>
                
                    <input type="text" name="full_name" id="full_name" class="form-control mb-4" placeholder="Full Name">
                    <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">
                    <input type="text" name="mobile" id="mobile" class="form-control mb-4" placeholder="Mobile">
                    <input type="text" name="address" id="address" class="form-control mb-4" placeholder="Home Address">
            
                    <select class="browser-default custom-select mb-4">
                        <option value="" disabled>Choose option</option>
                        <option value="1" selected>Gender</option>
                        <option value="2">Male</option>
                        <option value="3">Female</option>
                    </select>

                    <div class="md-form md-outline input-with-post-icon datepicker">
                        <input placeholder="Select date" type="date" id="example" class="form-control">
                        <label for="example">Employment Date</label>
                    </div>
                       
                    <div class="form-group">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5" placeholder="Duties"></textarea>
                    </div>
                
                    <button type="submit" class="btn btn-block white-text text-center login-label text-capitalize" style="background-color: gray;">
                         Add Employee <i class="far fa-plus-square"></i>
                    </button>
                
                </form>
                <!-- Default form contact -->
            </div>
        </div>
   

{% endblock %}