{% extends "base.html" %}
{% block content %}

    <!-- page header -->
    <div class="h2-responsive text-center font-weight-bolder card-header"> 
        External Advertisement
    </div>


    <div class="container">
      <div class="card mx-auto border-primary"  
        style="width: 100%; height: fit-content; margin-top: 100px;">
        <div class="card-body">        
          <p class="card-text" style="font-size: 16px;">
            Thank you for your interest in working for our company.
            However, due to the residual impact of COVID-19, we are not 
            recruiting workers right now. 
          </p>
          <p class="card-text" style="font-size: 16px;">
            We strongly encourage you to keep checking this site in order 
            to see updates about new jobs avaialability.
          </p>
        </div>
      </div>
    </div>
  
    
{% endblock %}
