{% extends "base.html" %}
{% block content %}

  <div class="h2-responsive text-center font-weight-bolder card-header"> 
    All Departments 
  </div>

  <section class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row">
                    <h5 class="red-text mx-auto message flash-text">{{ message }}</h5>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </section>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-4">
      {% for item in ment %}
        <div class="col mb-4">
          <div class="card" style="width: 100%; height: 200px; background: rgb(216, 240, 240);">
            <div class="card-body mx-auto">
              <span><h4 class="card-title text-center">{{ item.department }}</h4></span>
                <button type="button" class="btn btn-unique btn-md" style="margin-top: 80px;">
                  <a href="{{ url_for('edit_department', item_id=item._id) }}">
                    Edit
                  </a>
                </button>
                <button type="button" class="btn btn-danger btn-md" style="margin-top: 80px;">
                  <a href="{{ url_for('delete_department', item_id=item._id) }}">
                    Delete
                  </a>
                </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
