{% extends "base.html" %}
{% block content %}

    <div class="h2-responsive text-center font-weight-bolder card-header"> 
        Departments 
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4">
              <div class="card" style="width: 100%; height: 250px;">
                <div class="view overlay">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                    alt="Card image cap">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
        
                <div class="card-body">
                  <h4 class="card-title text-center">Card title</h4>
                  <button type="button" class="btn btn-light-blue btn-md">Read more</button>
                </div>
              </div>
            </div>
          </div>
    </div>
    
{% endblock %}
