{% extends "base.html" %}
{% block content %}

    <!-- page header -->
    <div class="h2-responsive text-center font-weight-bolder card-header"> 
        Corporate
    </div>

    <!-- Notice to all employees -->
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="card text-center mx-auto" 
                    style="width: 90%; height: fit-content; line-height: 50px; margin-top: 30px; margin-bottom: 540px;">
                    <div class="card-header">
                        <h5> To All Employees</h5>
                    </div>
                    <div class="card-body">
                        <p align="justify">
                            You were given a copy of <strong>Employees Code of Conduct</strong> at the time of 
                            your induction and registration, along with your Letter of Employment.
                            If however you need another copy to remind yourself of it's content, contact HR Office 
                            via the Request form on your Dashboard
                        </p>
                        <p align="justify">
                           You could also get relevant information regarding our <strong>Company Policy</strong>,
                           in case you need to be familiar with the exisiting work ethics, rules, 
                           regulations, procedures, protocols and legal matters guiding all employees of this organization.
                       </p>
                    </div>
                    <div class="card-footer text-muted"></div>
                  </div>
            </div>
        </div>
    </div>
    <!-- Notice to all employees end -->


    <!-- footer for inner pages -->
    <div class="container-fluid footer" style="margin-top: 150px;">
        <div class="row">
            <div class="col-md-6">
                <h6 class="copyright-in black-text text-center left-col">
                    @ 2021 All rights reserved
                </h6>
            </div>

            <div class="col-md-6">
                <ul class="text-center right-col">
                    <li class="footer-inner" style="padding-right: 10px; display: inline;">
                        <a class="black-text" href="{{ url_for('privacy_policy') }}">
                            Privacy Policy
                        </a>
                    </li>
        
                    <li class="footer-inner" style="padding-right: 10px; display: inline;">
                        <a class="black-text" href="{{ url_for('terms_of_use') }}">
                        Terms of Use
                        </a>
                    </li>
                    <li class="footer-inner" style="padding-right: 25px; display: inline;">
                        <a class="black-text" href="{{ url_for('help_desk') }}">
                        Help
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer for inner pages end -->

{% endblock %}
