{% extends "base.html" %}
{% block content %}

    <div class="h2-responsive text-center font-weight-bolder card-header"> 
        Corporate
    </div>

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="card text-center mx-auto" 
                    style="width: 90%; height: 550px; line-height: 50px; margin-top: 30px;">
                    <div class="card-header">
                        <h5> To All Employees</h5>
                    </div>
                    <div class="card-body">
                        <p align="justify">
                            You were given a copy of <strong>Employees Code of Conduct</strong> at the time of 
                            your induction and registration, along with your Letter of Employment.
                            If however you need another copy to remind yourself of it's content, contact HR Office 
                            via the Request form on your Dashboard
                        </p>
                        <p align="justify">
                           You could also get relevant information regarding our <strong>Company Policy</strong>,
                           in case you need to be familiar with the exisiting work ethics, rules, 
                           regulations, procedures, protocols and legal matters guiding all employees of this organization.
                       </p>
                    </div>
                    <div class="card-footer text-muted"></div>
                  </div>
            </div>
        </div>
    </div>

{% endblock %}
