<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" 
        integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}" type="text/css">
    <title>Sign In - HR Portal</title>
</head>
<body style="background-color: rgb(207, 230, 228);">

    <!-- Top navbar -->
    <nav class="navbar navbar-dark btn-mdb-color">
        <span class="white-text">
            Lunch Break Game time.....
        </span>
        <div class="ml-auto">
            <span> Go to
                <a href="{{ url_for('home') }}">
                    <strong style="color: orange;">Home</strong>
                </a> or
            </span>
     
            <span style="padding-left: 5px;"> 
                <a href="{{ url_for('login') }}">
                    <strong style="color: orange;">Login</strong>
                </a> again
            </span>
        </div>
    </nav>
    <!-- Top navbar ends -->

    <!-- second navbar -->
    <nav class="navbar navbar-dark btn-unique">
        <span class="white-text">
            How many birds can you shoot in 25 seconds?
        </span>
    </nav>
    <!-- second navbar ends -->

    <div class="container" style="margin-top: 100px; margin-left: 545px;">
        <div class="col">
            <div class="row">
                <div class="wrapper">
                    <div class="timer">
                         <span></span>    
                    </div>
                    <div class="gameover">GAME OVER</div>
                    <h1>KILL THE BIRDS <span>(shoot the birds)</span></h1>
                    <input class="input-circle input-circle1" type="radio" id="circle1" >
                    <input class="input-circle input-circle2" type="radio" id="circle2" >
                    <input class="input-circle input-circle3" type="radio" id="circle3" >
                    <input class="input-circle input-circle4" type="radio" id="circle4" >
                    <input class="input-circle input-circle5" type="radio" id="circle5" >
                    <input class="input-circle input-circle6" type="radio" id="circle6" >
                    <input class="input-circle input-circle7" type="radio" id="circle7" >
                    
                    <label for="circle1" class="pajaro pajaro1"><span></span></label>
                    <label for="circle2" class="pajaro pajaro2"><span></span></label>
                    <label for="circle3" class="pajaro pajaro3"><span></span></label>
                    <label for="circle4" class="pajaro pajaro4"><span></span></label>
                    <label for="circle5" class="pajaro pajaro5"><span></span></label>
                    <label for="circle6" class="pajaro pajaro6"><span></span></label>
                    <label for="circle7" class="pajaro pajaro7"><span></span></label>
                    <div class="sum">SCORE:</div>
            
                  </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
