<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" 
        integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Sign In - HR Portal</title>
</head>
<body style="background-color: rgb(207, 230, 228);">

    <div class="container-fluid">
        <div class="col">
            <div class="row">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h6 class="white-text mx-auto message1 flash-text">
                                <strong>{{ message }}</strong>
                            </h6>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col">
            <div class="row">
                <h6 style="padding-top: 8px;" class="btn-unique logout white-text">
                    Thank you for using the HR Portal and we hope it's adding value to your 
                    overall work satisfaction.
                </h6>
            </div>
        </div>
    </div>

    <div class="container-fluid">
       <div class="col">
           <div class="row">
                <span> Go to
                    <a href="{{ url_for('home') }}">
                        <strong>Home</strong>
                    </a> or
                </span>

                <span style="padding-left: 5px;"> 
                    <a href="{{ url_for('login') }}">
                        <strong>Login</strong>
                    </a> again
                </span>
           </div>
       </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
