{% extends "base.html" %}
{% block content %}

  <!-- Page header -->
  <div class="h2-responsive text-center font-weight-bolder card-header"> 
    Manage Employees
  </div>

  <!-- Top search bar section-->
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark grey lighten-2 mb-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline mx-auto" action="{{ url_for('search') }}" method="post">
          <input class="form-control" type="text" name="query" id="query" style="width: 600px;" 
            minlength="3" maxlength="50" placeholder="Search by typing department name" required>

          <a href="{{ url_for('manage_employee') }}" 
            class="btn btn-danger btn-rounded btn-sm my-0 ml-sm-2 text-capitalize">
            <span style="font-size: 14px;">Reset</span>
          </a>

          <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2 text-capitalize" 
            type="submit">
            <i class="fas fa-search" style="font-size: 20px;"></i>
          </button>
        </form>
      </div>
    </nav>
  </div>

  <!-- Flash message -->
  <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row">
                    <h5 class="red-text mx-auto flash-text">
                      {{ message }}
                    </h5>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
  <!-- Flash message ends -->

  <h5 class="text-center" style="margin-top: 50px;">List of All Departments and Associated Employees</h5>

  <!-- Accordion section to display employees by their to departments -->
  <div class="container-fluid" style="width: 90%;">

    <!-- Iterate through departments in Department collection in db. 
    This ensures one department is bound to each Accordion displayed to user
    -->
    {% if depo|length > 0 %}
      {% for dment in depo %}
        <div class="accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist" aria-multiselectable="true"
          style="background-color: azure;">
          <div class="card-header" role="tab" id="headingUnfiled">
            <div class="dropdown float-left">
              <button class="btn btn-sm m-0 mr-3 p-2 dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              </button>
            </div>

            <!-- Add -{{ loop.index }} to update href link of the Accordion 
            and its div id below, to ensure each Accordion opens and closes separately
            -->
            <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseUnfiled-{{ loop.index }}"
              aria-expanded="true" aria-controls="collapseUnfiled">

              <!-- Select appropriate department name from db for each Accordion -->
              <h5 class="mt-1 mb-0">
                <span>{{ dment.department }}</span>
                <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>

          <!-- Add -{{ loop.index }} to update div id of the Accordion -->
          <div id="collapseUnfiled-{{ loop.index }}" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled"
            data-parent="#accordionEx78">
            <div class="card-body" style="background-color: white;">
              <div class="table-responsive mx-3">

                <table class="table table-hover mb-0 table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>
                        <input class="form-check-input" type="checkbox" id="checkbox">
                        <label for="checkbox" class="mr-2 label-table"></label>
                      </th>
                      
                      <!-- Accordion table headers -->
                      <th class="th-lg text-center">
                        <a>
                          <strong>First Name</strong><i class="fas fa-sort ml-1"></i>
                        </a>
                      </th>
                      <th class="th-lg text-center">
                        <a>
                          <strong>Last Name</strong><i class="fas fa-sort ml-1"></i>
                        </a>
                      </th>
                      <th class="th-lg text-center">
                        <a>
                          <strong>Email</strong><i class="fas fa-sort ml-1"></i>
                        </a>
                      </th>
                      <th class="th-lg text-center">
                        <a>
                          <strong>Mobile</strong><i class="fas fa-sort ml-1"></i>
                        </a>
                      </th>
                      <th class="th-lg text-center">
                        <a>
                          <strong>Adddress</strong><i class="fas fa-sort ml-1"></i>
                        </a>
                      </th>
                      <th class="th-lg text-center">
                        <a>
                          <strong>Gender</strong><i class="fas fa-sort ml-1"></i>
                        </a>
                      </th>
                      <th class="th-lg text-center">
                        <a>
                          <strong>Employment Date</strong><i class="fas fa-sort ml-1"></i>
                        </a>
                      </th>
                      <th class="text-center">
                        <strong>Manage</strong>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for person in staff %}
                        {% if person.department == dment.department %}
                    <tr>
                      <th scope="row">
                        <input class="form-check-input" type="checkbox" id="checkbox1">
                        <label for="checkbox1" class="label-table"></label>
                      </th>

                      <!-- Iterate through employees in employees collection in db,
                      selcting only the employees for appropriate department in db.
                      Note that department collection is already iterated through, in for-Loop above.
                      -->
                        <td>
                          {{ person.first_name }}
                        </td>
                        <td>
                          {{ person.last_name }}
                        </td>
                        <td>
                          {{ person.email }}
                        </td>
                        <td>
                          {{ person.mobile }}
                        </td>
                        <td>
                          {{ person.address }}
                        </td>
                        <td>
                          {{ person.gender }}
                        </td>
                        <td>
                          {{ person.employment_date }}
                        </td>

                      <!-- Manage employee buttons -->
                      <td>
                        <a href="{{ url_for('edit_employee', employee_id=person._id) }}">
                          <i class="fas fa-pen-square mx-1" data-toggle="tooltip" data-placement="top" title="Edit"
                            style="font-size: 20px; color: rgb(144, 192, 236); padding-right: 20px;">
                          </i>
                        </a>
                        <a href="{{ url_for('delete_employee', employee_id=person._id) }}">
                          <i class="fas fa-times-circle mx-1" data-toggle="tooltip" data-placement="top" title="Terminate"
                            style="font-size: 20px; color: red;">
                          </i>
                        </a>
                      </td>
                    </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      
        {% else %}
        <h5 class="text-center red-text" style="margin-top: 50px;">
          <strong>No Departments found</strong>
        </h5>
    {% endif %}
  </div>
  
{% endblock %}

