{% extends "base.html" %}
{% block content %}

  <div class="h2-responsive text-center font-weight-bolder card-header"> 
    Manage Employees
  </div>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark grey lighten-2 mb-4">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline mx-auto">
          <input class="form-control" type="text" aria-label="Search" style="width: 600px;">
          <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </div>

  <div class="container-fluid" style="width: 90%;">
    <div class="accordion md-accordion accordion-blocks" id="accordionEx78" role="tablist"
      aria-multiselectable="true" style="background-color: azure;">

        <div class="card-header" role="tab" id="headingUnfiled">
          <div class="dropdown float-left">
            <button class="btn btn-info btn-sm m-0 mr-3 p-2 dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><i class="fas fa-pencil-alt"></i>
            </button>
            <div class="dropdown-menu dropdown-info">
              <a class="dropdown-item" href="#">Rename</a>
              <a class="dropdown-item" href="#">Delete</a>
            </div>
          </div>

          <a data-toggle="collapse" data-parent="#accordionEx78" href="#collapseUnfiled" aria-expanded="true"
            aria-controls="collapseUnfiled">
            <h5 class="mt-1 mb-0">
              <span>Administration</span>
              <i class="fas fa-angle-down rotate-icon"></i>
            </h5>
          </a>
        </div>

        <div id="collapseUnfiled" class="collapse" role="tabpanel" aria-labelledby="headingUnfiled"
          data-parent="#accordionEx78">
          <div class="card-body">
            <div class="table-responsive mx-3">

              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>
                      <input class="form-check-input" type="checkbox" id="checkbox">
                      <label for="checkbox" class="mr-2 label-table"></label>
                    </th>
                    <th class="th-lg"><a>First Name <i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a>Last Name<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a>Email<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a>Mobile<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a>Adddress<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a>Gender<i class="fas fa-sort ml-1"></i></a></th>
                    <th class="th-lg"><a>Employment Date<i class="fas fa-sort ml-1"></i></a></th>
                    <th></th>
                  </tr>
                </thead>
              
                <tbody>
                  <tr>
                    <th scope="row">
                      <input class="form-check-input" type="checkbox" id="checkbox1">
                      <label for="checkbox1" class="label-table"></label>
                    </th>
                    <td>Test subscription</td>
                    <td>Scroll % is equal</td>
                    <td>12.06.2017</td>
                    <td>Test subscription</td>
                    <td>Test subscription</td>
                    <td>Test subscription</td>
                    <td>Test subscription</td>
                    <td>
                      <a><i class="fas fa-pen-square mx-1" data-toggle="tooltip" 
                        data-placement="top" title="Edit" style="font-size: 20px; color: green; padding-right: 20px;">
                        </i>
                      </a>
                      <a><i class="fas fa-times-circle mx-1" data-toggle="tooltip" 
                        data-placement="top" title="Terminate" style="font-size: 22px; color: red;">
                        </i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}