{% extends "base.html" %}
{% block content %}

  <div class="h2-responsive text-center font-weight-bolder card-header"> 
    New Department
  </div>

  <!-- Flash message -->
  <section class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <div class="row message">
                <h5 class="white-text mx-auto flash-text">
                  {{ message }}
                </h5>
                <a class="close white-text" id="closeButton">
                  X
                </a>
              </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </section>
  <!-- Flash message ends -->

  <!-- Form for adding new department -->
  <div class="container" style="margin-bottom: 850px;">
    <form action="{{ url_for('new_department') }}" method="POST" 
      class="needs-validation" novalidate>
      <div class="card w-75 mb-3 mx-auto" 
        style="height: 250px; margin-top: 80px; background: rgb(240, 245, 245);">
        <div class="card-body">

          <div class="md-form" style="padding-top: 50px;">
            <i class="fas fa-folder-open prefix" style="color: gray; padding-top: 50px;"></i>
            <input type="text" name="department_name" id="department_name" class="form-control validate" 
              pattern="^[a-zA-Z ]{3,25}$" minlength="3" maxlength="25" required>
              
            <label for="department_name" style="padding-top: 50px;">
              Department Name
            </label>
          </div>

          <div class="text-center">
            <button class="btn white-text btn-mdb-color text-capitalize" style="font-size: 15px;">
              Add Department
              <i class="fas fa-plus-square white-text" style="font-size: 20px; padding-left: 5px;"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Form for adding new department ends -->

  <!-- footer for inner pages -->
  <div class="container-fluid footer">
    <div class="row">
      <div class="col-md-6">
        <h6 class="copyright-in black-text text-center left-col">
          @ 2021 All rights reserved
        </h6>
      </div>

      <div class="col-md-6">
        <ul class="text-center right-col">
          <li class="footer-inner" style="padding-right: 10px; display: inline;">
            <a class="black-text" href="{{ url_for('privacy_policy') }}">
              Privacy Policy
            </a>
          </li>

          <li class="footer-inner" style="padding-right: 10px; display: inline;">
            <a class="black-text" href="{{ url_for('terms_of_use') }}">
              Terms of Use
            </a>
          </li>
          <li class="footer-inner" style="padding-right: 25px; display: inline;">
            <a class="black-text" href="{{ url_for('help_desk') }}">
              Help
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer for inner pages end -->

{% endblock %}
