{% extends "base.html" %}
{% block content %}

  <div class="h2-responsive text-center font-weight-bolder card-header"> 
    Change Password
  </div>

  <!-- Flash message -->
  <section class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              <div class="row message">
                <h5 class="white-text mx-auto flash-text">
                  {{ message }}
                </h5>
                <a class="close white-text" id="closeButton">
                  X
                </a>
              </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </section>
  <!-- Flash message ends -->

  <!-- Form for changing password -->
  <div class="container">
    <div class="col">
      <div class="row">
        <div class="card text-center mx-auto" 
          style="width: 40rem; margin-top: 70px; margin-bottom: 900px;">
          <div class="card-body">

            <form action="{{ url_for('change_password') }}" method="post">
              <div class="form-group row">
                <label for="oldpass" class="col-sm-4 col-form-label">Old Password:</label>
                <div class="col-sm-7">
                  <input type="password" name="oldpass" id="oldpass" minilenght="3"
                    maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control" required>
                </div>
              </div>

              <div class="form-group row">
                <label for="newpass" class="col-sm-4 col-form-label">New Password:</label>
                <div class="col-sm-7">
                  <input type="password" name="newpass" id="newpass" minilenght="3"
                    maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control" required>
                </div>
              </div>
            
              <div class="form-group row">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-mdb-color white-text text-capitalize" style="font-size: 15px;">
                    Submit <i class="far fa-paper-plane"></i>
                  </button>

                  <a href="{{ url_for('dashboard', email=session['user']) }}" class="btn btn-danger white-text text-capitalize" style="font-size: 15px;">
                    Cancel <i class="fas fa-times-circle right"></i>
                  </a>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form for changing password ends -->

  <!-- footer for inner pages -->
  <div class="container-fluid footer">
    <div class="row">
        <div class="col-md-6">
            <h6 class="copyright-in black-text text-center left-col">
                @ 2021 All rights reserved
            </h6>
        </div>

        <div class="col-md-6">
            <ul class="text-center right-col">
                <li class="footer-inner" style="padding-right: 10px; display: inline;">
                    <a class="black-text" href="{{ url_for('privacy_policy') }}">
                        Privacy Policy
                    </a>
                </li>
    
                <li class="footer-inner" style="padding-right: 10px; display: inline;">
                    <a class="black-text" href="{{ url_for('terms_of_use') }}">
                       Terms of Use
                    </a>
                </li>
                <li class="footer-inner" style="padding-right: 25px; display: inline;">
                    <a class="black-text" href="{{ url_for('help_desk') }}">
                       Help
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- footer for inner pages end -->

{% endblock %}
