{% extends "base.html" %}
{% block content %}

    <div class="h2-responsive text-center font-weight-bolder card-header"> 
      Change Password
    </div>

    <!-- Flash message -->
    <section class="container">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                <div class="row message">
                  <h5 class="white-text mx-auto flash-text">
                    {{ message }}
                  </h5>
                  <a class="close white-text" id="closeButton">
                    X
                  </a>
                </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </section>
     <!-- Flash message ends -->

    <!-- Form for changing password -->
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="card text-center mx-auto" 
            style="width: 40rem; height: 260px; margin-top: 70px;">
            <div class="card-body">
              <form action="{{ url_for('change_password') }}" method="post">
                <div class="form-group" style="padding-top: 25px;">
                  <input type="password" name="oldpass" id="oldpass" minilenght="3" 
                    maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control" placeholder="Old Password" required>
                </div>
                
                <div class="form-group">
                  <input type="password" name="newpass" id="newpass" minilenght="3" 
                    maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control" placeholder="New Password" required>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-mdb-color white-text text-capitalize" style="font-size: 15px;">
                    Submit <i class="far fa-paper-plane"></i>
                  </button>

                  <a href="{{ url_for('dashboard', email=session['user']) }}" class="btn btn-danger white-text text-capitalize" style="font-size: 15px;">
                    Cancel <i class="fas fa-times-circle right"></i>
                  </a>
              </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    
    
    <!-- Form for changing password ends -->
    
{% endblock %}
