{% extends "base.html" %}
{% block content %}

    <div class="h2-responsive text-center font-weight-bolder card-header"> 
        Register 
    </div>
    <div class="row">
            <div class="card mx-auto">
                <div class="card-body"> 
                    <form method="POST" action="{{ url_for('register') }}">
                        <div class="md-form">
                            <i class="fas fa-user-plus prefix text-black-60"></i>
                            <input type="text" name="fullname" id="fullname" class="form-control validate">
                            <label for="fullname">Full Name</label>
                        </div>
                    
                        <div class="md-form">
                            <i class="fas fa-envelope prefix text-black-60"></i>
                            <input type="text" name="email" id="email" class="form-control validate">
                            <label for="email">E-mail</label>
                        </div>

                        <div class="md-form">
                            <i class="fas fa-user-lock prefix text-black-60"></i>
                            <input type="password" name="password" id="password" class="form-control validate">
                            <label for="password">Create password</label>
                        </div>
                        
                        <div class="md-form">
                            <i class="fas fa-user-lock prefix text-black-60"></i>
                            <input type="password" name="confirmpassword" id="confirmpassword" class="form-control validate">
                            <label for="confirmpassword">Confirm password</label>
                        </div>

                        <div class="form-group row text-center">
                            <div class="col">
                                <button type="submit" class="btn btn-block black white-text text-center text-capitalize">
                                    Register <i class="fas fa-sign-in-alt"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>
    </div>
    <div class="row card-bottom">
        <div class="col sm12">
            <p class="text-center">
                Already Registered?
                <a href="" class="blue-text">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}
