{% extends "base.html" %}
{% block content %}

    <div class="h2-responsive text-center font-weight-bolder card-header"> 
        Register 
    </div>

    <section class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <h5 class="white-text mx-auto message flash-text">
                            {{ message }}
                        </h5>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <div class="row">
        <div class="card mx-auto">
            <div class="card-body"> 
                <form method="POST" action="{{ url_for('register') }}">
                    <div class="md-form">
                        <i class="fas fa-user-plus prefix" style="color: gray;"></i>
                        <input type="text" name="full_name" id="full_name" class="form-control" 
                            minlength="5" maxlength="25" pattern="^[a-zA-Z ]{5,25}$" required>
                        <label for="full_name">Full Name</label>
                    </div>
                    
                    <div class="md-form">
                        <i class="fas fa-envelope prefix" style="color: gray;"></i>
                        <input type="text" name="email" id="email" class="form-control" 
                            minlength="5" maxlength="50" required>
                        <label for="email">E-mail</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-user-lock prefix" style="color: gray;"></i>
                        <input type="password" name="password" id="password" minilenght="3" 
                            maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control" required>
                        <label for="password">Create password</label>
                    </div>
                        
                    <div class="md-form">
                        <i class="fas fa-user-lock prefix" style="color: gray;"></i>
                        <input type="password" name="confirm_password" id="confirm_password" 
                            minilenght="3" maxlength="15" pattern="^[a-zA-Z0-9]{3,15}$" class="form-control" required>
                        <label for="confirm_password">Confirm password</label>
                    </div>

                    <div class="form-group row text-center">
                        <div class="col">
                            <button type="submit" 
                                class="btn btn-block white-text text-center text-capitalize btn-mdb-color login-label">
                                Register <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div> 
        </div>
    </div>
    
    <div class="row card-bottom">
        <div class="col sm12">
            <p class="text-center">
                Already Registered?
                <a href="{{ url_for('login') }}" class="blue-text"><strong>Log In</strong></a>
            </p>
        </div>
    </div>

{% endblock %}
